<div class="row">

  <div class="col-md-6 offset-md-3">

    <h1>
      <%= @user.username %>
    </h1>


    <ul class="nav nav-pills nav-justified">
      
      <li class="nav-item">
        <%= link_to "Posts", user_path(@user.username), class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "Likes", liked_photos_path(@user.username), class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "Feed", user_feed_path(@user.username), class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "Followers", followers_path(@user.username), class: "nav-link"%>
      </li>
      <li class="nav-item active">
        <%= link_to "Following", follows_path(@user.username), class: "nav-link active"%>
      </li>
    </ul>
    <hr>
  </div>

</div>



<% @user.leaders.each do |follow| %> 
  <%= render "follow_requests/follow_summary", follow: follow %>
<% end %>
