<div class="row">

  <div class="col-md-6 offset-md-3">

    <h1>
      <%= @user.username %>
    </h1>


    <ul class="nav nav-pills nav-justified mb-1">
      
      <li class="nav-item">
        <span class="badge badge-pill badge-dark" style="float: right;"><%= @user.photos_count %> </span>
        <%= link_to "Posts", user_path(@user.username), class: "nav-link"%>
        
      </li>
      <li class="nav-item">
        <span class="badge badge-pill badge-dark" style="float: right;"><%= @user.likes_count %> </span>
        <%= link_to "Likes", liked_photos_path(@user.username), class: "nav-link"%>
      </li>
      <li class="nav-item">
        <span class="badge badge-pill badge-dark" style="float: right; mr-5"><%= @user.feed.count %> </span>
        <%= link_to "Feed", user_feed_path(@user.username), class: "nav-link active"%>
      </li>
      <li class="nav-item">
        <span class="badge badge-pill badge-dark" style="float: right;"><%= @user.followers.count %> </span>
        <%= link_to "Followers", followers_path(@user.username), class: "nav-link"%>
      </li>
      <li class="nav-item">
        <span class="badge badge-pill badge-dark" style="float: right;"><%= @user.leaders.count %> </span>
        <%= link_to "Following", follows_path(@user.username), class: "nav-link"%>
      </li>
    </ul>
    <hr>
  </div>

</div>


<% @user.feed.each do |photo| %>
  <%= render "photos/photo", photo: photo %>
<% end %>